
    </main>

    <footer>
        {% if quickScan != true %}
            <a href="/quick-scan" class="new-quick-scan">Nieuwe Quick Scan</a>
        {% endif %}

        <a href="#" class="back-to-top">
            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <title>Terug naar boven</title>
                <path d="M15.3153 8.75684L8.02323 0.687315L0.687126 8.70836" stroke="currentColor" stroke-width="1.37425" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>
        
    </footer>
</body>
</html>