<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script defer src="/scripts/client.js" type="module"></script>
</head>
<body>

    <header>
        {% if quickScan %}
            <a href="/">Ga terug naar de homepagina</a>

            {% elsif home %}
                
            {% else %}
            <a href="/">Ga terug naar de homepagina</a>
            <a href="/quick-scan">Maak een Quick Scan</a>
        {% endif %}
    </header>
    <main>
        
    
