{% render 'partials/head.liquid', title: 'Home', home: true, cityListNav: cityListNav %}

<h1>Steden overzicht</h1>

{% if sortCity == 'descending' %} 
    <a href="/" class="sort-filter">A-Z sorteren</a>
{% else %}
    <a href="/?sort=descending" class="sort-filter">Z-A sorteren</a>
{% endif %}

<ul class="city-overview">
    {% for city in cityList %}
        <li>
            <h2>
                <a href="/{{ city.city }}">
                    {{ city.city }}
                    <svg width="8" height="15" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.3501 1.3501L14.8501 14.5966L1.3501 27.8431" stroke-width="2.7" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/>
                    </svg>
                </a>
            </h2>
            {% comment %} <form method="POST" action="/delete">
                <input type="hidden" name="id" value="{{ city.id }}">
                <button type="submit">Delete</button>
            </form> {% endcomment %}
        </li>
    {% endfor %}
</ul>

{% render 'partials/foot.liquid' %}