<h1>Steden overzicht</h1>

<ul>
    {% for city in cityList %}
        <li>
            <h2>
                <a href="/{{ city.city }}">
                    {{ city.city }}
                    <svg width="17" height="30" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.3501 1.3501L14.8501 14.5966L1.3501 27.8431" stroke-width="2.7" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/>
                    </svg>
                </a>
            </h2>
        </li>
    {% endfor %}
</ul>

<a href="/quick-scan">Maak een Quick Scan</a>