{% render 'partials/head.liquid', title: 'Quick Scan' %}

<section class="quick-scan">
  <h1>Quick Scan</h1>

  <form action="/quick-scan" method="post" enctype="multipart/form-data">
    <h2>Maak een Quick Scan in 4 stappen.</h2>

    <fieldset>
      <legend class="legend-checkmark"><h3>1 - Upload foto</h3></legend>
      <label>
        Bestand kiezen
        <input id="upload-picture" type="file" name="picture" required>
      </label>
      <img id="display-image" src="" alt="" width="60" height="40">
    </fieldset>

    <fieldset>
      <legend class="legend-checkmark"><h3>2 - Locatie & Tijd</h3></legend>

      <label>
        Stad
        <select name="city" required>
          <option value="">-- Kies een stad --</option>
          {% for name in quickScanCities %}
            <option value="{{name.city}}">{{ name.city }}</option>
          {% endfor %}
        </select>
      </label>

      <label>
        Adres
        <input type="text" name="address" required autocapitalize="on">
      </label>

      <label>
        Long
        <input type="number" step="any" name="long" placeholder="52.6783" required>
      </label>

      <label>
        Lat
        <input type="number" step="any" name="lat" placeholder="4.9234" required>
      </label>

      <label>
        Lengte (in cm)
        <input type="number" name="length" placeholder="210" required>
      </label>

      <label>
        Tijd
        <input type="time" name="time" required>
      </label>
    </fieldset>

    <fieldset>
      <legend class="legend-checkmark"><h3>3 - Monitoring & Smart zone</h3></legend>

      <fieldset>
        <legend>Geschiktheid Monitoring</legend>
        <label>
          Geschikt
          <input type="radio" name="monitoring_suitability" value="geschikt">
        </label>

        <label>
          Neutraal
          <input type="radio" name="monitoring_suitability" value="neutraal">
        </label>

        <label>
          Ongeschikt
          <input type="radio" name="monitoring_suitability" value="ongeschikt">
        </label>
      </fieldset>

      <fieldset>
        <legend>Geschiktheid Smart zone</legend>
        <label>
          Geschikt
          <input type="radio" name="smartzone_suitability" value="geschikt">
        </label>

        <label>
          Neutraal
          <input type="radio" name="smartzone_suitability" value="neutraal">
        </label>

        <label>
          Ongeschikt
          <input type="radio" name="smartzone_suitability" value="ongeschikt">
        </label>
      </fieldset>
    </fieldset>

    <fieldset>
      <legend class="legend-checkmark"><h3>4 - Observaties</h3></legend>

      <fieldset>
        <legend>Status</legend>
        <label>
          Vrij
          <input type="radio" name="status" value="vrij">
        </label>

        <label>
          Bezet
          <input type="radio" name="status" value="bezet">
        </label>

        <label>
          Overtreding
          <input type="radio" name="status" value="overtreding">
        </label>

        <label>
          Bestaat niet
          <input type="radio" name="status" value="bestaat niet">
        </label>
      </fieldset>

      <label>
        Verkeersbord (optioneel)
        <textarea name="traffic_sign" autocapitalize="on"></textarea>
      </label>

      <label>
        Opmerking (optioneel)
        <textarea name="comment" autocapitalize="on"></textarea>
      </label>
    </fieldset>

    <button type="submit">Toevoegen</button>
  </form>
</section>

{% render 'partials/foot.liquid' %}
