/* Algemeen */
* {
    /* Zorgt ervoor dat de padding en border bij de breedte horen */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Custom fonts */
@font-face {
    font-family: 'DMSans-Regular';
    src: url('../fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-Medium';
    src: url('../fonts/DMSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-Bold';
    src: url('../fonts/DMSans-Bold.ttf') format('truetype');
}

html {
    font-family: 'DMSans-Regular', Verdana, Geneva, Tahoma, sans-serif;

    /* Scrollen in html element-gaat smooth */
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;

        @view-transition {
            navigation: auto;
        }
    }


}

/* Custom properties */
:root {
    /* Colors */
    --primary-color: #9400FF;
    --medium-light-color: #525252;
    --lightest-color: #fff;
    --valid-icon-color: #00A80B;
    --invalid-icon-color: #FF2A34;
    --background-color-dashboard-items: #FAF4FF;

    /* Font sizes */
    --font-size-xl: 25px;
    --font-size-l: 20px;
    --font-size-m: 18px;
    --font-size-s: 16px;
    --font-size-xs: 14px;

    /* Heights & sizes */
    --border-radius: 10px;
    --padding-button: 0.5em 1em;
}

/* ============   Algemene styling van formulier elementen   ============ */
/* Foto/file knop */
label:has(input[type="file"]) {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--padding-button);
    margin-top: 0.5em;
    transition: 0.1s;

    @media (any-pointer:fine) {
        &:hover {
            cursor: pointer;
            background-color: var(--primary-color);
            color: var(--lightest-color);
        }
    }

    &:has(:focus-visible) {
        outline: 2px solid var(--primary-color);
        outline-offset: 2px;
    }

    &:active {
        background: var(--primary-color);
        color: var(--lightest-color);
        animation: --button-jump 0.5s ease-out;
    }

    /* Maak de input visueel ontzichtbaar, maar laat het focusbaar blijven */
    input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip-path: inset(50%);
    }
}

/* Dropdowns */
select {
    background-color: var(--lightest-color);
    border: none;
    border-radius: none;
    border-bottom: 1px solid black;
    font-size: var(--font-size-m);
    font-family: 'DMSans-Regular', Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;

    @media (forced-colors:none) {
        border: none;
        box-shadow: 0 0.08em black;
    }

    &:focus,
    &:active {
        outline: none;
        border-bottom: 1px dashed var(--primary-color);

        @media (forced-colors:none) {
            border: none;
            box-shadow: 0 0.16em var(--primary-color);
        }
    }
}

/* Enhancements voor de dropdowns */
@supports selector(::picker(select)) {

    select,
    ::picker(select) {
        appearance: base-select;
    }

    select {
        border-radius: 0;
        padding-left: 2px;
        color: black;

        &:open::picker-icon {
            rotate: 270deg;
        }

        &::picker-icon {
            content: '❯';
            rotate: 90deg;
            color: var(--medium-light-color);
        }
    }

    ::picker(select) {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        border: 1.5px solid black;
    }

    option {
        padding: 0.5em;

        &:hover {
            outline: 3px solid var(--primary-color);
            outline-offset: -2px;
            background-color: var(--lightest-color);
        }

        &:last-of-type:hover {
            border-radius: 0 0 var(--border-radius) var(--border-radius);
        }

        &:checked {
            background-color: var(--primary-color);
            color: var(--lightest-color);
        }
    }
}

/* Radio buttons */
label:has(input[type="radio"]) {
    position: relative;
    border: 2px solid #9400FF;
    border-radius: var(--border-radius);
    padding: var(--padding-button);
    text-align: center;
    transition: 0.1s;

    input {
        position: absolute;
        opacity: 0;
    }

    &:active {
        animation: --button-jump 0.5s ease-out;
    }

    &:has(input[type="radio"]:checked) {
        border: 2px dashed var(--primary-color);

        @media (forced-colors: none) {
            background: var(--primary-color);
            color: var(--lightest-color);
        }
    }

    &:has(input[type="radio"]:focus-visible) {
        background: var(--primary-color);
        color: var(--lightest-color);
        outline: 2px solid var(--primary-color);
        outline-offset: 2px;
    }

    @media (any-pointer:fine) {
        &:hover {
            cursor: pointer;
            background-color: var(--primary-color);
            color: var(--lightest-color);
        }
    }
}

/* Verzend knop*/
button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--lightest-color);
    padding: var(--padding-button);
    font-size: var(--font-size-m);
    transition: 0.1s;

    &:active {
        animation: --button-jump 0.5s ease-out;
    }

    &:focus-visible {
        outline: 2px solid var(--primary-color);
        outline-offset: 2px;
    }

    @media (any-pointer:fine) {
        &:hover {
            cursor: pointer;
            background-color: var(--lightest-color);
            color: currentColor;
        }
    }
}

/* Knop animatie */
@keyframes --button-jump {
    0% {
        scale: 0.9;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 1em;

    img {
        width: 7em;
    }

    nav {
        background: var(--primary-color);
        padding: 1em;
    }

    ul {
        display: grid;
        list-style: '';
        row-gap: 1em;

        a {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            text-decoration: none;
            font-size: var(--font-size-l);
            color: var(--lightest-color);

            &:hover {
                text-decoration: 2px solid underline;
            }

            &:focus-visible {
                outline: 2px solid var(--lightest-color);
                outline-offset: 2px;
            }

            svg {
                display: block;
                width: 1em;
                height: 1em;
                flex-shrink: 0;
                color: var(--lightest-color);
            }
        }
    }
}

/* Voor de popover in de header */
@supports selector([popover]) {

    /* Om het scrollen uit te zetten als de popover open staat */
    body:has(nav[popover]:popover-open) {
        overflow: hidden;
    }

    .open-button {
        display: block;
        padding: 0.5em;
        background: var(--primary-color);
        border: 2px solid var(--primary-color);
        border-radius: var(--border-radius);
        cursor: pointer;
        transition: 0.2s;

        &:focus-visible {
            outline: 2px solid var(--primary-color);
            outline-offset: 2px;
        }

        &:active {
            background: var(--primary-color);
            color: var(--lightest-color);
            animation: --button-jump 0.5s ease-out;

            svg {
                color: var(--lightest-color);
            }
        }

        @media (any-pointer: fine) {
            &:hover {
                background: var(--lightest-color);

                svg {
                    color: var(--primary-color);
                }
            }
        }

        svg {
            display: block;
            width: 2em;
            height: 2em;
            flex-shrink: 0;
            color: var(--lightest-color);
        }
    }

    nav ul {
        display: none;
    }

    nav[popover]:popover-open {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: start;
        row-gap: 1em;
        width: 100dvw;
        height: 100dvh;
        border: none;
        transition: opacity 0.3s ease-out;

        @starting-style {
            & {
                opacity: 0;
            }
        }

        img {
            filter: invert(1);
            vertical-align: middle;
        }

        .popover-visible {
            display: block;
            height: fit-content;
            width: fit-content;

            &:focus-visible {
                outline: 2px solid var(--lightest-color);
                outline-offset: 2px;
            }
        }

        button {
            justify-self: end;
            padding: 0.5em;
            background: var(--lightest-color);
            border: 2px solid var(--lightest-color);
            border-radius: var(--border-radius);
            cursor: pointer;
            transition: 0.2s;

            @media (any-pointer: fine) {
                &:hover {
                    background: var(--primary-color);

                    svg {
                        fill: var(--lightest-color);
                    }
                }
            }

            &:active {
                background: var(--primary-color);
                color: var(--lightest-color);
                animation: --button-jump 0.5s ease-out;

                svg {
                    color: var(--lightest-color);
                }
            }

            svg {
                display: block;
                width: 2em;
                height: 2em;
                fill: var(--primary-color);
            }
        }

        ul {
            grid-column: 1/-1;
            display: grid;
            height: fit-content;
        }
    }
}

footer {
    position: sticky;
    bottom: 1em;
    padding-inline: 1em;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    gap: 0.5em;

    a {
        background: var(--primary-color);
        color: var(--lightest-color);
        padding: var(--padding-button);
        border: 2px solid var(--primary-color);
        border-radius: var(--border-radius);
        width: fit-content;
        box-shadow: 1px 1px 3px rgb(61, 61, 61);
        text-decoration: none;
        transition: 0.1s;
        margin-top: 1.5em;

        &:focus-visible {
            outline: 2px solid var(--primary-color);
            outline-offset: 2px;
        }

        &:active {
            background: var(--lightest-color);
            color: var(--primary-color);
            animation: --button-jump 0.5s ease-out;
        }

        @media (any-pointer:fine) {
            &:hover {
                background: var(--lightest-color);
                color: var(--primary-color);
            }
        }
    }

    .new-quick-scan {
        grid-column: 2;
    }

    .back-to-top {
        grid-column: 3;
        justify-self: end;
        padding: 0.5em;

        svg {
            display: block;
            height: 0.8em;
            width: auto;
        }
    }

}

main:has(.quick-scan) {
    display: flex;
    justify-content: center;
}

main:has(.city-overview) {
    display: grid;
    row-gap: 1.5em;
    /* grid-template-columns: auto auto;
    column-gap: 0.5em;
    
    padding: 0 1em;
    max-width: 35em;
    margin: 0 auto; */
    max-width: 40em;
    padding: 1em;
    margin: 0 auto;

    h1 {
        font-size: var(--font-size-xl);
    }

    .sort-filter {
        display: inline-block;
        border: 2px solid var(--primary-color);
        border-radius: var(--border-radius);
        background: var(--primary-color);
        color: var(--lightest-color);
        padding: var(--padding-button);
        width: fit-content;
        text-decoration: none;

        &:focus-visible {
            outline: 2px solid var(--primary-color);
            outline-offset: 2px;
        }

        &:active {
            background: var(--lightest-color);
            color: var(--primary-color);
            animation: --button-jump 0.5s ease-out;
        }

        @media (any-pointer:fine) {
            &:hover {
                background: var(--lightest-color);
                color: var(--primary-color);
            }
        }
    }
}

/* ============   Dashboard data  ============ */
.dashboard-items {
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
        justify-content: center;

        gap: 0.5em;
        list-style: '';
        padding-bottom: 0.5em;

        @media (min-width: 380px) and (max-width: 550px) {
            grid-template-columns: repeat(2, 1fr);
        }

        li {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            background: var(--background-color-dashboard-items);
            padding: var(--padding-button);
            border: 1.5px solid var(--primary-color);
            border-radius: var(--border-radius);
            min-width: 7em;
            min-height: 7em;
            box-shadow: .1px .1px 4px grey;

            p:nth-of-type(1) {
                font-size: var(--font-size-xs);
            }

            p:nth-of-type(2) {
                font-size: var(--font-size-xl);
            }
        }
    }

    section {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        border: 1.5px solid var(--primary-color);
        border-radius: var(--border-radius);
        background: var(--background-color-dashboard-items);
        width: 100%;
        box-shadow: .1px .1px 4px grey;

        transition: max-height 300ms ease-out, opacity 200ms ease-out;

        h2 {
            font-size: var(--font-size-m);
        }

        legend {
            font-size: var(--font-size-s);
            font-family: 'DMSans-Bold', Arial, Helvetica, sans-serif;
        }

        fieldset {
            border: none;
            display: grid;
        }
    }

    .inner-section {
        display: grid;
        gap: 0.5em;
        padding: 1em;
    }

    .show-more-label {
        display: block;
        position: relative;
        cursor: pointer;
        transition: 0.1s;

        input {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }

        &:has(input[type="checkbox"]:focus-visible) {
            outline: 2px solid var(--primary-color);
            outline-offset: 2px;
        }

        @media (any-pointer:fine) {
            &:hover span {
                text-decoration: 2px solid underline var(--primary-color);
                text-underline-offset: 2px;
            }
        }
    }
}

main:has(.show-more-button-input:checked) {
    section {
        margin-block: 1em;
        opacity: 1;
        max-height: 500px;
    }

    span:nth-of-type(2) {
        display: inline-flex;
    }

    span:nth-of-type(1) {
        display: none;
    }
}

/* Styling van het HTML meter element */
label:has(meter) {
    display: grid;
    grid-template-columns: 80px 1fr 35px;
    align-items: center;
    gap: 0.5em;

    meter {
        display: block;
        border-radius: var(--border-radius);
        width: 100%;
        height: 14px;
        background: rgba(128, 128, 128, 0.151);
    }
}

.geschikt::-moz-meter-bar {
    background: rgb(0, 196, 0);
}

.geschikt::-webkit-meter-optimum-value {
    background: rgb(0, 196, 0);
}

.neutraal::-moz-meter-bar {
    background: orange;
}

.neutraal::-webkit-meter-optimum-value {
    background: orange;
}

.ongeschikt::-moz-meter-bar {
    background: red;
}

.ongeschikt::-webkit-meter-optimum-value {
    background: red;
}

/* ============   Lijst met steden op de homepagina   ============ */
.city-overview {
    /* grid-column: -1/1; */
    display: grid;
    gap: 0.5em;
    list-style: '';

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        font-size: var(--font-size-l);
        color: black;
        padding: 1em 1em;
        border: 2px solid var(--primary-color);
        border-radius: var(--border-radius);
        transition: 0.1s;

        &:focus-visible {
            outline: 2px solid var(--primary-color);
            outline-offset: 2px;
        }

        &:active {
            background: var(--primary-color);
            color: var(--lightest-color);
            animation: --button-jump 0.5s ease-out;

            svg {
                color: var(--lightest-color);
            }
        }

        @media (any-pointer:fine) {
            &:hover {
                background: var(--primary-color);
                color: #fff;

                svg {
                    color: #fff;
                }
            }
        }

        svg {
            display: block;
            height: 1em;
            width: 1em;
            flex-shrink: 0;
            color: var(--primary-color);
        }
    }
}



/* ============   Formulier op quick-scan.liquid   ============ */
.quick-scan {
    flex: 1 1 auto;
    max-width: 40em;
    margin: 1em;
    border: 4px solid var(--primary-color);
    border-radius: var(--border-radius);

    h1 {
        background-color: #9400FF;
        color: var(--lightest-color);
        text-align: center;
        font-size: var(--font-size-l);
        padding: 0.5em;
    }

    form {
        padding: 1.5em;

        h2 {
            font-size: var(--font-size-xl);
        }

        fieldset {
            border: none;
            margin-block: 2.5em;

            legend {
                padding-bottom: 0.5em;

                h3 {
                    font-size: var(--font-size-m);
                    color: var(--primary-color);
                    font-family: 'DMSans-Bold', Arial, Helvetica, sans-serif;
                }
            }

            fieldset {
                margin-block: 0.5em;

                legend {
                    font-size: var(--font-size-xs);
                    color: var(--medium-light-color);
                }
            }
        }

        /* Upload foto fieldset */
        fieldset:has(input[type="file"]) {
            position: relative;
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            gap: 0.5em;

            img {
                grid-column: 2;
                justify-self: end;
                opacity: 0;
                width: auto;
                height: clamp(3em, 15vw, 8em);

                @media (min-width: 400px) {
                    position: absolute;
                }
            }
        }

        /* Radio buttons fieldset */
        fieldset fieldset:has(input[type="radio"]) {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
            justify-content: space-between;
            gap: 0.5em;

            &:nth-of-type(2) {
                margin-top: 1.5em;
            }
        }

        /* Alle labels op die van de foto/file en de radiobuttons na */
        label:not(:has(input[type="radio"]),
            :has(input[type="file"])) {
            display: grid;
            gap: 0.1em;
            padding-block: 0.5em;
            font-size: var(--font-size-s);
            color: var(--medium-light-color);

            input:not(input[type="file"]),
            textarea {
                font-size: var(--font-size-m);
                color: black;
                border-top: none;
                border-inline: none;
                padding-left: 0.1em;
                border-bottom: 1px solid black;

                @media (forced-colors:none) {
                    border: none;
                    box-shadow: 0 0.08em black;
                }

                &:focus {
                    outline: 2px solid transparent;
                    border-bottom: 1px dashed var(--primary-color);

                    @media (forced-colors:none) {
                        border: none;
                        box-shadow: 0 0.16em var(--primary-color);
                    }
                }
            }
        }

        textarea {
            min-height: 1.5lh;
            resize: vertical;
        }
    }
}

/* ============   Valid + Reload styling states van de fieldsets & labels   ============ */
.quick-scan form {
    fieldset:has(input) .legend-checkmark {
        display: flex;
        gap: 0.5em;
    }

    &>fieldset:has([required]):valid .legend-checkmark::after {
        content: "✔";
        color: var(--valid-icon-color);
    }

    fieldset:has(input:not([type="radio"]):required:invalid) .legend-checkmark::after {
        content: "";
    }

    /* Reload icon voor foto/file input als er een foto is geupload */
    @media (forced-colors: none) {
        label:has(input[type="file"]:valid)::before {
            content: "";
            display: inline-block;
            flex: 0 0 1em;
            width: 1em;
            height: 1em;
            background-color: black;
            mask-image: url("../assets/redo-icon.svg");
            mask-size: contain;
            mask-repeat: no-repeat;
        }

        label:has(input[type="file"]:valid):hover::before {
            @media (any-pointer:fine) {
                background-color: var(--lightest-color);
            }
        }

        label:has(input[type="file"]:valid):active::before {
            background-color: var(--lightest-color);
        }
    }
}

/* ============   Succes en error states voor de Quick Scan   ============ */
.status-success-or-error {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: var(--primary-color);
    color: var(--lightest-color);
    padding: 1em;
    width: 100%;
    text-align: center;
    font-size: var(--font-size-m);
    animation: --fade-popup 5s ease-out forwards;
}

@keyframes --fade-popup {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* ============   Loading state voor de Quick Scan   ============ */
.loading-quick-scan {
    position: relative;

    &::after {
        content: "...";
        position: absolute;
        overflow: hidden;
        animation: --loading-quick-scan 1.5s infinite;
        animation-timing-function: steps(4);
    }
}

@keyframes --loading-quick-scan {
    0% {
        max-width: 0;
    }

    100% {
        max-width: 1.1em;
    }
}